.score {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.team {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
