.teams {
    min-width: 6.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teamsRow {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
