.user {
    min-width: 6.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userRow {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userRowValue {
    font-size: 1.5em;
}
