.app {
    font-family: "Helvetica";
    margin: auto;
    border: 3px solid #f6f8fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 2.5em;
    background-color: #f6f8fa
}

.content {
    margin: 10px;
}

.teamRow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pickTeam {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.teamButtons > button {
    margin: 5px;
    min-width: 100px;
}

.pickUsername {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usernameInput {
    min-width: 300px;
}

.connectedUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.users {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
