.pickUsername {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usernameInput {
    min-width: 200px;
    text-align: center;
}

.editUsername {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usernameButton {
    width: 5em;
}
